@{
    ViewBag.Title = "Home Page";
}

<div class="content-wrapper">    
    <div class="row">
        <h1 class="col-md-6 m-auto p-3">
            <strong>
                Scheduling Admin Tool
            </strong>
        </h1>
        <div class="row">
            <h3 class="card col-md-6 m-auto p-4" >
                This website is a administration tool to enroll students, classes, and to see status. please login to get access to full features.
            </h3>
        </div>
    </div> 
</div>